<!-- Load the base into the template-->
{% extends './base.html' %}
{% load static %}
{% block title %}Children Furniture | Home{% endblock %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Furniture for Creative Children</h1>
        <p class="lead text-muted">Safety and Sustainability is at its core of EcoFurn furniture</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Buy Now</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for product in products %}
        
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt "Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="">{{ product.title }}<a/>
              </p>
          </div>
        </div>
      
      {% endfor %}
      
      
      
      
      
      
      
      
      </div>
    </div>
  </div>


{% endblock %}